In [1]:
import pandas as pd
import numpy as np
import xlrd
# http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls

In [2]:
!conda install xlrd -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [3]:
raw = pd.read_excel("http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls")

In [4]:
raw.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [6]:
raw['survived_cat'] = raw['survived'].astype('category')
raw['home.dest_cat'] = raw['home.dest'].astype('category')
raw['embarked_cat'] = raw['embarked'].astype('category')
raw['sex_cat'] = raw['sex'].astype('category')
raw['pclass_cat'] = raw['pclass'].astype('category')

In [7]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pclass         1309 non-null   int64
 1   survived       1309 non-null   int64
 2   name           1309 non-null   object
 3   sex            1309 non-null   object
 4   age            1046 non-null   float64
 5   sibsp          1309 non-null   int64
 6   parch          1309 non-null   int64
 7   ticket         1309 non-null   object
 8   fare           1308 non-null   float64
 9   cabin          295 non-null    object
 10  embarked       1307 non-null   object
 11  boat           486 non-null    object
 12  body           121 non-null    float64
 13  home.dest      745 non-null    object
 14  survived_cat   1309 non-null   category
 15  home.dest_cat  745 non-null    category
 16  embarked_cat   1307 non-null   category
 17  sex_cat        1309 non-null   category
 18  pclass_cat     1309 non-null   category
dtypes: category(5), float64(3), int64(4), object(7)
memory usage: 164.2+ KB

In [8]:
target = raw.survived

In [9]:
data = raw.drop(['survived','ticket','cabin','parch','fare','boat', 'home.dest','home.dest_cat','survived_cat',
                'embarked_cat','embarked', 'body', 'sex', 'pclass'], axis=1)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1309 non-null   object
 1   age         1046 non-null   float64
 2   sibsp       1309 non-null   int64
 3   sex_cat     1309 non-null   category
 4   pclass_cat  1309 non-null   category
dtypes: category(2), float64(1), int64(1), object(1)
memory usage: 33.6+ KB

In [15]:
names = data['name']
type(names), names

(pandas.core.series.Series,
 0                         Allen, Miss. Elisabeth Walton
 1                        Allison, Master. Hudson Trevor
 2                          Allison, Miss. Helen Loraine
 3                  Allison, Mr. Hudson Joshua Creighton
 4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                              ...
 1304                               Zabour, Miss. Hileni
 1305                              Zabour, Miss. Thamine
 1306                          Zakarian, Mr. Mapriededer
 1307                                Zakarian, Mr. Ortin
 1308                                 Zimmerman, Mr. Leo
 Name: name, Length: 1309, dtype: object)

split names according to the comma.
then, split at the period to get the title.

In [16]:
names = names.str.strip()
names

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [13]:
names = names.str.split(',', expand =True) #expand puts results into two separate columns
names

              0                                        1
0         Allen                   Miss. Elisabeth Walton
1       Allison                    Master. Hudson Trevor
2       Allison                      Miss. Helen Loraine
3       Allison              Mr. Hudson Joshua Creighton
4       Allison   Mrs. Hudson J C (Bessie Waldo Daniels)
...         ...                                      ...
1304     Zabour                             Miss. Hileni
1305     Zabour                            Miss. Thamine
1306   Zakarian                          Mr. Mapriededer
1307   Zakarian                                Mr. Ortin
1308  Zimmerman                                  Mr. Leo

[1309 rows x 2 columns]

In [17]:
names = names.str.split('.', expand =True) #expand puts results into two separate columns
names

                    0                                   1     2
0         Allen, Miss                    Elisabeth Walton  None
1     Allison, Master                       Hudson Trevor  None
2       Allison, Miss                       Helen Loraine  None
3         Allison, Mr             Hudson Joshua Creighton  None
4        Allison, Mrs   Hudson J C (Bessie Waldo Daniels)  None
...               ...                                 ...   ...
1304     Zabour, Miss                              Hileni  None
1305     Zabour, Miss                             Thamine  None
1306     Zakarian, Mr                         Mapriededer  None
1307     Zakarian, Mr                               Ortin  None
1308    Zimmerman, Mr                                 Leo  None

[1309 rows x 3 columns]

In [18]:
title_first_names = names[1].str.split('.', expand=True)
names['title'] = title_first_names[0]
names['first_name'] = title_first_names[1]
names = names.rename(columns={0:'last_name', 1:'title_first_name'})

KeyError: 1

In [ ]:
names.head()

In [ ]:
data1 = pd.concat([data, names], axis=1)
data1.head()

In [ ]:
data = data1[['last_name','title','first_name','age','sex_cat','sibsp','pclass_cat']]
data.head()

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
#Impute missing ages using the sex and title fields

In [ ]:
data['title_cat'] = data['title'].astype('category')

In [ ]:
age_df = data[['age','title_cat', 'sex_cat']]
age_df.info()

In [ ]:
age_df['title_cat'].unique()

In [ ]:
#add dummies to prepare for age regression via OLS

age_df = pd.concat([age_df, pd.get_dummies(age_df['title_cat'])],axis=1)
age_df = age_df.drop(['title_cat', 'sex_cat'], axis=1)
age_df.head()

In [ ]:
y = age_df['age'] #target = 'age'
X = age_df.iloc[:,1:] #only use titles

In [ ]:
X

In [ ]:
import statsmodels.api as sm

In [ ]:
mod = sm.OLS(y,X, missing='drop')
res = mod.fit()
print(res.summary())

In [ ]:
def compute_age(actual_age, predicted_age):
    if np.isnan(actual_age): 
        return predicted_age
    else: #NaN
        return actual_age

In [ ]:
age_df['age_predicted'] = res.predict(X)
age_df['age_prediction_error'] = age_df['age_predicted'] - age_df['age']
age_df['age_output_dummy'] = age_df['age'].isna().astype(np.int32)

In [ ]:
age_df['age_output'] = age_df.apply(lambda row : compute_age(row['age'], row['age_predicted']), axis=1)
age_df.head()

In [ ]:
age_df['age_mean'] = np.mean(age_df['age'])

In [ ]:
age_df

In [ ]:
#now just concat age_output and age_output dummy back to the data array
data = pd.concat([data, age_df[['age_output', 'age_output_dummy']]], axis=1)
data.head()

In [ ]:
data.info()

In [ ]:
data

In [ ]:
y = raw.survived
X = data[['sibsp','title_cat','pclass_cat','age_output', 'age_output_dummy', 'sex_cat']]
X['sibsp'] = X['sibsp'].copy().astype('category')
X = pd.concat([X, pd.get_dummies(X[['sibsp', 'title_cat', 'pclass_cat', 'sex_cat']], drop_first=True)],axis=1)
X.info()

In [ ]:
X = X.drop(['sibsp','title_cat','pclass_cat', 'sex_cat'],axis=1)

In [ ]:
X.info()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,random_state=1)

In [ ]:
# lr = LogisticRegression(solver='lbfgs', max_iter=2000)
lr = LogisticRegression(solver='liblinear', max_iter=5000, penalty='l1')

lr

In [ ]:
scaler = StandardScaler().fit(Xtrain)
Xtrain_scaled = scaler.transform(Xtrain)
Xtest_scaled = scaler.transform(Xtest)

In [ ]:
lr.fit(Xtrain_scaled,ytrain)

In [ ]:
ytest_scaled_pred = lr.predict(Xtest_scaled)
np.mean(ytest == ytest_scaled_pred)

In [ ]:
from sklearn.model_selection import GridSearchCV
lr = LogisticRegression(max_iter=5000, solver='lbfgs')
params = {'C':[0.002,0.004,0.005,0.006,0.007]}
clf = GridSearchCV(lr, params, cv=5, n_jobs=-1)

In [ ]:
scaler = StandardScaler().fit(X)
X_scaled = scaler.transform(X)

In [ ]:
clf.fit(X_scaled, y)
print(clf.best_estimator_)
print(clf.best_score_)

In [ ]:
clf.best_estimator_

In [ ]:
#drop male
X_new = X.drop('sex_cat_male', axis=1)
scaler = StandardScaler().fit(X_new)
X_new_scaled = scaler.transform(X_new)

In [ ]:
params = {'C':[0.001,0.01,0.1,1,10]}
clf = GridSearchCV(lr, params, cv=5, n_jobs=-1)
clf.fit(X_new_scaled, y)
print(clf.best_estimator_)
print(clf.best_score_)

In [ ]:
from sklearn.svm import LinearSVC
svc = LinearSVC(max_iter=10000, random_state=1)
params = {'C':[0.0005,0.001, 0.002, 0.003,0.004,0.005,0.01, 0.05]}
clf = GridSearchCV(svc, params, cv=5, n_jobs=-1)

In [ ]:
clf.fit(X_new_scaled, y)
print(clf.best_estimator_)
print(clf.best_score_)

In [ ]:
from sklearn.svm import SVC
svc = SVC(random_state=1, gamma='scale')
params = {'C':[0.001, 0.01, 0.1, 0.5,1], 'gamma':[10e-4, 10e-3, 10e-2, 10e-1, 1,10,100]}
clf = GridSearchCV(svc, params, cv=5, n_jobs=-1)

In [ ]:
clf.fit(X_new_scaled, y)
print(clf.best_estimator_)
print(clf.best_score_)

In [ ]:
params = {'C':[0.001, 0.01, 0.1, 0.5,1], 'gamma':[0.001,0.005,0.01,0.025]}
clf = GridSearchCV(svc, params, cv=5, n_jobs=-1)
clf.fit(X_new_scaled, y)
print(clf.best_estimator_)
print(clf.best_score_)

In [ ]:
params = {'C':[0.001, 0.01, 0.1, 0.5,1], 'gamma':[0.01,0.025,0.05,0.1,0.5,1]}
clf = GridSearchCV(svc, params, cv=5, n_jobs=-1)
clf.fit(X_scaled, y)
print(clf.best_estimator_)
print(clf.best_score_)